body {
    overflow: hidden;
}
.page {
    background: linear-gradient(to top, red, white);

    .title {
        color: green;
        text-align: center;
    }
    .imgs {
        display: flex;
        align-items: center;
    }
    .sharing {
        width: 600px;
        height: 315px;
        background-image: url("../../assets/images/sharing.png");
        background-size: cover;
        border: 1px solid green;
    }
}
